@import url(../css/layout/container.css);
@import url(../css/page/page-content.css);
* {
    font-family: Amis font;
}

body {
    /* min-width: 1366px;
    min-height: 768px; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: Amis font;
    src: url(../assets/Roboto/Roboto-Regular.ttf);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #b8bcc3;
}
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 12px;
}
.labelValidate{
    position: relative;
}
.tags-error-employeecode,
.tags-error-email,
.tags-error-landline-number,
.tags-error-phone-number,
.tags-error-date-identity-date,
.tags-error-identity-number,
.tags-error-date-of-birth,
.tags-save,
.tags-save-add,
.tags-error-department,
.tags-error,
.tags {
    display: inline;
}

.tags-error-employeecode:hover:after,
.tags-error-email:hover:after,
.tags-error-landline-number:hover:after,
.tags-error-phone-number:hover:after,
.tags-error-date-identity-date:hover:after,
.tags-error-identity-number:hover:after,
.tags-error-date-of-birth:hover:after,
.tags-error:hover:after,
.tags-error-department:hover:after{
    background: rgba(228, 62, 62, 0.882);
    border-radius: 5px;
    font-size: 13px;
    bottom: -30px;
    color: #fff;
    content: attr(data-gloss);
    padding: 5px;
    position: absolute;
    z-index: 98;
    text-align: center;
}

.tags-error-employeecode:hover::before,
.tags-error-email:hover:before,
.tags-error-landline-number:hover:before,
.tags-error-phone-number:hover:before,
.tags-error-date-identity-date:hover:before,
.tags-error-identity-number:hover:before,
.tags-error-date-of-birth:hover:before,
.tags-error:hover:before,
.tags-error-department:hover:before{
    border: solid;
    border-color: rgba(228, 62, 62, 0.882) transparent;
    border-width: 0 6px 6px 6px;
    bottom: -4px;
    content: "";
    top: 46px;
    position: absolute;
    z-index: 99;
}

.tags-error-employeecode:hover:after {
    left:-20px;
    width: 210px;
}

.tags-error-employeecode:hover:before {
    left: 80px;
}

.tags-error-email:hover:before {
    left: 100px;
}

.tags-error-email:hover:after {
    width: 200px;
}

.tags-error-landline-number:hover:before {
    left: 320px;
}

.tags-error-landline-number:hover:after {
    left: 180px;
    width: 260px;
}

.tags-error-phone-number:hover:before {
    left: 90px;
}

.tags-error-phone-number:hover:after {
    left: -20px;
    width: 260px;
}

.tags-error-phone-number:hover:before {
    left: 90px;
}

.tags-error-date-identity-date:hover:after {
    right: -10px;
    width: 200px;
}

.tags-error-date-identity-date:hover:before {
    right: 80px;
}
.tags-error-identity-number:hover:after {
    left: -10px;
    width: 300px;
}

.tags-error-identity-number:hover:before {
    left: 120px;
}
.tags-error-date-of-birth:hover:after {
    left: -10px;
    width: 200px;
}

.tags-error-date-of-birth:hover:before {
    left: 80px;
}

.tags-error:hover:after {
    left: 10%;
    width: 200px;
}

.tags-error:hover:before {
    left: 50%;
}

.tags-error-department:hover:after{
    left: 30%;
    width: 200px;
}

.tags-error-department:hover:before {
    left: 220px;
}
.tags-save-add:hover:after,
.tags-save:hover:after,
.tags:hover:after{
    background: rgba(51, 51, 51, 0.882);
    border-radius: 5px;
    font-size: 14px;
    bottom: -30px;
    color: #fff;
    content: attr(data-gloss);
    padding: 5px;
    position: absolute;
    z-index: 98;
    width: 100px;
    text-align: center;
}

.tags-save-add:hover:before,
.tags-save:hover:before,
.tags:hover:before{
    border: solid;
    border-color: rgb(51, 51, 51) transparent;
    border-width: 0 6px 6px 6px;
    content: "";
    position: absolute;
    z-index: 99;
}
.tags-save-add:hover:before {
    left: 91%;
    bottom: 10px;
}
.tags-save-add:hover:after {
    bottom: -16px;
    right: 22px;
}
.tags-save:hover:before {
    bottom: -4px;
    left: 50%;
}
.tags-save:hover:after {
    left: -12px;
}
.tags:hover:after {
    right: -160%;
}

.tags:hover:before {
    left: 30%;
    bottom: -4px;
}

